*{
    padding: 0;
    margin: 0;
}

 header{

    background-color: rgb(233, 237, 229); 
}
    
   
/* #container{

    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px; 
} */

  #menu {
    width: 100%; 
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    
} 

 #menu .nav-item{
    text-decoration: none;
    color: rgb(110, 106, 106);

}

.menu-list ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

#carrinho{
 margin-left: 250px;
}



 #menu #avatar img{
    width: 50%;
 
}


#logo{
    position: relative;
   
    
}

.separador{/* class do hr*/
    width: 87%;
    background-color: rgba(161, 156, 156, 0.688) ;
   margin: auto;/*centralizar linha hr*/
   
    
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu-icon button img{
     width: 20%;
}

.mobile-menu{
     display: none; 
}

@media screen and (max-width: 730px){
    #mobile-menu{
        padding: 1.5rem 4rem;
    }

    .menu-list{
        display: none;
    }

    #carrinho{
        display: none;
    }

    #avatar{
        display: none;
    }


    .mobile-menu-icon{
        display: block; 
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }
    .mobile-menu li{
        display: flex;
        flex-direction: column;
        text-align: center;

    }

}
.mobile-menu  ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1rem;
      text-decoration: none;
}
.mobile-menu li .nav-item{
    text-decoration: none;
    color: rgba(161, 156, 156, 0.688);
}

.open{
    display: block;
}